{% extends 'base.html.twig' %}

{% block title %}Table Tennis Game{% endblock %}

{% block body %}

    <div class="h-screen flex-row pt-12 bg-tennis_table">

        <div class="pl-12 grid grid-cols-4 gap-12 ">

                <p class="text-3xl font-bold bg-bluesky text-center">Logo</p>
                <div class="members bg-bluesky">
                    <i class="fa-solid fa-user-group"></i>
                    <p>XX membres</p>
                </div>
                <div class="tournaments bg-bluesky">
                    <i class="fa-solid fa-trophy"></i>
                    <p><a href="{{ path('app_tournament_index') }}">XX Tournois</a></p>
                </div>
                <div class="ranking bg-bluesky">
                    <i class="fa-solid fa-list-ol"></i>
                    <p>Classement</p>
                </div>



        </div>
    </div>

</div>







{% endblock %}