<form method="post" action="{{ path('app_tournament_delete', {'id': tournament.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce tournoi ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('supprimer' ~ tournament.id) }}">
    <button class="bg-blue rounded-full px-8 py-2 h-10 border-2 uppercase text-white">Supprimer</button>
</form>
