{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="bg-blue rounded-full px-8 py-2 h-10 border-2 uppercase text-white">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
