{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau tournoi{% endblock %}

{% block body %}
    <div class="container mt-8 mr-96">
    <h1 class="text-5xl font-Source Sans Pro Regular  py-16">Créer un nouveau tournoi</h1>

    {{ include('tournament/_form.html.twig') }}
    <button>
        <a href="{{ path('app_tournament_index') }}">Retour à la liste</a></button>

    </div>
    </div>
{% endblock %}
