@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none
;

}
body {
  min-height: 100vh;
}


nav, footer {
  @apply bg-blue
}


h1, h2, h4, h5, h6, a {
  font-family: 'Roboto', serif;
  @apply text-yellow
}

i, time, h3, ul, li {
  @apply text-blue pr-2
}

th, td {
  font-family: 'Helvetica', serif;
  @apply text-blue min-w-full min-h-full
}

p, label, input{
  font-family: 'Helvetica', serif;
  @apply text-blue
}

.button, .button_label  {
  @apply rounded-lg px-8 py-2 mb-4 border-2 border-blue text-blue hover:bg-blue hover:text-yellow font-normal;
}

h1 {
  @apply text-5xl py-16 font-bold
}

li {
  @apply pb-12
}



.text {
  font-family: 'Helvetica', serif;
  @apply text-blue
}

.zone {
  @apply border-2 border-blue w-96 h-8 text-blue
}

.card {
  @apply bg-gray-50  max-w-screen-xl rounded overflow-hidden shadow-lg lg:py-8 lg:ml-8 lg:px-6 lg:py-4
}

.insta {
  @apply text-yellow hover:text-xl
}

.uppercase {
  text-transform: uppercase;
}