@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

body {
  min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Helvetica+&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed+&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', serif;
  @apply text-sky-700
}

p, th, td {
  font-family: 'Helvetica', serif;
  @apply text-sky-700
}


a {

  font-family: 'Roboto', serif;
  @apply text-sky-800 text-2xl
}

button {

  @apply bg-blue-300 rounded-full px-8 py-2 h-10 border-2 text-white ;
}

h1 {
  @apply text-5xl py-16
}

li {
  @apply pb-12
}

