<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>


    <div>
        <div class="h-32 bg-blue">
            <h1 class="text-5xl text-center text-[#fe0000] pt-8">Table Tennis Game</h1>

        </div>
        <div class="flex justify-between">
            <nav class="bg-lightblue h-screen w-48">
                <ul>
                    <li><a href="{{ path('homepage') }}">Tableau de bord</a></li>
                    <li><a href="{{ path('app_tournament_index') }}">Tournois</a></li>





                </ul>


            </nav>

        <main>
        {% block body %}

        {% endblock %}
    </main>

    <footer class="bg-blue h-16 ">
        <div class="">
            <p class="text-right text-white pt-4 pr-16">Table Tennis Game &copy; 2023</p>


        </div>
    </footer>

    </body>
</html>
