<div class="mt-10 max-w-md mx-auto"
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="button">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
</div>
