{% extends 'base.html.twig' %}

{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}
    <div class="pb-36 px-12">
    <h1 class="text-5xl py-16">Modifier le profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

<button class="bg-blue rounded-full px-8 py-2 h-10 border-2 uppercase text-white">
    <a href="{{ path('app_user_index') }}">back to list</a></button>

    {{ include('user/_delete_form.html.twig') }}
 </div>
    </div>

{% endblock %}
