{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
    <div class="pb-36 px-12">
        <h1 class="text-5xl py-16">Votre profil</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit">Enregister</button>

        {{ form_end(form) }}

    </div>
 </div>
{% endblock %}